

    <div class="container my-5">
        <h2 class="mb-4">Popular Restaurants</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4">
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r6.png" class="card-img-top" alt="McDonald's Logo">
                    <div class="card-body">
                        <p class="card-text text-center">McDonald's London</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r5.png" class="card-img-top" alt="Papa John's Logo">
                    <div class="card-body">
                        <p class="card-text text-center">Papa Johns</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r4.png" class="card-img-top" alt="KFC Logo">
                    <div class="card-body">
                        <p class="card-text text-center">KFC West London</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r3.png" class="card-img-top" alt="Texas Chicken Logo">
                    <div class="card-body">
                        <p class="card-text text-center">Texas Chicken</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r2.png" class="card-img-top" alt="Burger King Logo">
                    <div class="card-body">
                        <p class="card-text text-center">Burger King</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card restaurant-card">
                    <img src="./Assets/r1.png" class="card-img-top" alt="Shaurma 1 Logo">
                    <div class="card-body">
                        <p class="card-text text-center">Shaurma 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   