<section class="restaurant section">
  <div class="restaurant_container container grid">
    <div class="restaurant_data">
      <h2 class="restaurant_title">
        <span>FLAVOR</span><br />
        THAT <br />
        STAYS IN <br />
        THE MOUTH
      </h2>
      <img
        src="Assets/contact-img-1.png"
        alt="image"
        class="restaurant_img-1"
      />
      <img
        src="Assets/contact-img-2.png"
        alt="image"
        class="restaurant_img-2"
      />

      <img
        src="Assets/chicken-dam-6.png"
        alt="image"
        class="restaurant_dam-1"
      />
      <img
        src="Assets/chicken-dam-4.png"
        alt="image"
        class="restaurant_dam-2"
      />
      <img
        src="Assets/chicken-dam-1.png"
        alt="image"
        class="restaurant_dam-3"
      />
      <img
        src="Assets/chicken-dam-2.png"
        alt="image"
        class="restaurant_dam-4"
      />
    </div>
    <div class="restaurant_info grid">
      <div>
        <h3 class="restaurant_subtitle">Order Now</h3>
        <p class="restaurant_paragraph">
          <span class="restaurant_sub_paragraph"
            >Craving something delicious?</span
          ><br />
          with just a few clicks your favorite meals will be delivered hot and
          fresh to your doorstep fast easy and reliable we bring the restaurant
          straight to you don’t wait order now and satisfy your hunger instantly
        </p>

        <button type="text" (click)="GoToRestaurant()" class="button-8">
          Restaurants
        </button>
      </div>
    </div>
  </div>
</section>
