
  <div class="sidebar">
    <div class="logo">
      <img src="/Assets/logo.png" alt="Presto Logo" >
      <h1>Presto</h1>
    </div>

    <div class="menu-section">
     
      <div class="menu-item "><i class="fas fa-user"></i> Profile</div>
      <div class="menu-item"><i class="fas fa-inbox"></i> Inbox</div>
      <div class="menu-item"><i class="fas fa-book"></i> Order History</div>
      <div class="menu-item"><i class="fas fa-tasks"></i> shopping Address</div>
   <div class="menu-item"  routerLink="/user/payment"><i class="fas fa-users"></i> payment</div>
    </div>

    <div class="menu-section">
    
      <div class="menu-item"><i class="fas fa-cog"></i> Settings</div>
      <div class="menu-item logout"><i class="fas fa-sign-out-alt"></i> Logout</div>
    </div>
  </div>
