<div #sidenav class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <img
      class="logo"
      src="Assets/logo.png"
      alt="logo"
      (click)="toggleCollapse()"
    />
    <div class="logo-text" *ngIf="collapsed">Presto</div>
    <button type="button" class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" aria-label="Close sidebar">
  <i class="fal fa-times close-icon"></i>
</button>
  </div>

  <ul class="sidenav-nav">
    @for(data of navData; track $index ) { @if(data.label != "logout") {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="[data.RouterLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
    </li>
    }@else {
    <li class="sidenav-nav-item">
      <a
        href="#"
        class="sidenav-nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="loggedOut($event)"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
    </li>
    } }
  </ul>
</div>
