<section class="section" id="Contact">
  <div class="contact_container container grid">
    <div class="contact_data">
      <div class="section_title">Contact Now</div>

      <div class="contact_info grid">
        <div>
          <h3 class="contact_title">Write Us</h3>

          <div class="contact_social">
            <a href="#" target="_blank" class="contact_social-link">
              <i class="fa-brands fa-square-whatsapp"></i>
            </a>
            <a href="#" class="contact_social-link">
              <i class="fa-brands fa-facebook-messenger"></i>
            </a>
            <a href="#" target="_blank" class="contact_social-link">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
          </div>
        </div>

        <div>
          <h3 class="contact_title">Location</h3>
          <!-- <address class="contact_address">
                ElMady Metro station <br />
              </address> -->
          <a
            href="https://maps.app.goo.gl/WZSRbtruc7YU4k368"
            target="_blank"
            class="contact_map"
          >
            <i class="fa-solid fa-location-dot"></i>
            <span>View On Map</span>
          </a>
        </div>
      </div>
    </div>

    <div class="contact_image">
      <img src="Assets/contact-img.png" alt="image" class="contact_img" />
    </div>

    <img
      src="Assets/sticker-tomato.svg"
      alt="image"
      class="contact_sticker-1"
    />
    <img
      src="Assets/sticker-mushroom.svg"
      alt="image"
      class="contact_sticker-2"
    />
    <img src="Assets/sticker-onion.svg" alt="image" class="contact_sticker-3" />
  </div>
</section>
