<section class="restaurant section" id="partner">
  <div class="restaurant_container container grid">
    <!-- Partner with us card -->
    <div class="partner-card partner-card--dark">
      <div class="partner-card__content">
        <div class="partner-card__badge">
          <span>Earn more with lower fees</span>
        </div>
        <div class="logo_container">
          <h1 class="logo-partner">Join Presto</h1>
        </div>
        <h2 class="partner-card__title">Partner with us</h2>
        <button class="btns" [routerLink]="['/restaurant-apply']">
          Get Started
        </button>
      </div>
    </div>

    <!-- Ride with us card -->
    <div class="partner-card partner-card--yellow">
      <div class="partner-card__content">
        <div class="partner-card__badge partner-card__badge--light">
          <span>Avail exclusive perks</span>
        </div>
        <div class="logo_container">
          <h1 class="logo">Join Presto</h1>
        </div>

        <h2 class="partner-card__title--dark">Ride with us</h2>
        <button class="btns" [routerLink]="['/DeliveryManRegister']">
          Get Started
        </button>
      </div>
    </div>
  </div>
</section>
