   <div class="form-group">
          <label class="form-label">Your Location *</label>
          <p class="location-info">
            Click on the map to set your location
          </p>
          <div id="map" class="map-container"></div>
          <span [style.display]="set?'inline':'none'">{{address?.label +' - '+address?.street+', '+address?.city}}</span>
          <span
            *ngIf="!selectedLocation && formSubmitted"
            class="error-message"
          >
            Please select your location on the map
          </span>
</div>