
  <div class="payment-card">
   
    <!-- <div class="d-flex align-items-center mb-4">
      <img src="stripe-logo.png" alt="Stripe" class="mr-2">
      <span class="mr-2">4***</span>
      <span>12/4</span>
    </div> -->

    <h5 class="mb-3">Add Payment Method</h5>
    <div class="payment-icons d-flex mb-3">
      <img src="/Assets/visa.JPEG" alt="Visa">
      <img src="/Assets/stripe.png" alt="Stripe">
      <!-- <img src="paypal-logo.png" alt="PayPal">
      <img src="mastercard-logo.png" alt="Mastercard">
      <img src="googlepay-logo.png" alt="Google Pay"> -->
    </div>

    <form>
      <input type="text" class="form-control" placeholder="Card holder name">
      <input type="text" class="form-control" placeholder="CVV">
      <input type="text" class="form-control" placeholder="Card number">
      <input type="text" class="form-control" placeholder="Expiration Date">
      <button type="submit" class="btn btn-save btn-block">Save Change</button>
    </form>
  </div>
