<div class="confirmation-container">
  <div class="confirmation-card">
    <h2>Forgot Password</h2>

    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-group mb-3 text-start">
        <label for="email" class="form-label">Email Address</label>
        <input id="email" type="email" class="form-control" formControlName="email" placeholder="Enter your email">
        <small *ngIf="form.controls.email.invalid && form.controls.email.touched" class="text-danger">
          Please enter a valid email.
        </small>
      </div>
      
      <p class="text-success mt-3" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</p>
      <button class="btn-confirm" type="submit" [disabled]="form.invalid">Send Reset Link</button>
    </form>


    <a (click)="home()" class="btn-confirm mt-4 d-inline-block text-decoration-none">Home</a>
  </div>
</div>
