
  

    
    <div class="flex-grow-1 p-4">
      <div class="order-history">
        <h2>Order History</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Order ID</th>
              <th>Date</th>
              <th>Total Price</th>
              <th>Total Items</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>#15267</td><td>Mar 1, 2023</td><td>100</td><td>1</td></tr>
            <tr><td>#153587</td><td>Jan 26, 2023</td><td>300</td><td>3</td></tr>
            <tr><td>#12436</td><td>Feb 12, 2033</td><td>100</td><td>1</td></tr>
            <tr><td>#16879</td><td>Feb 12, 2033</td><td>500</td><td>5</td></tr>
            <tr><td>#16378</td><td>Feb 28, 2033</td><td>500</td><td>5</td></tr>
            <tr><td>#16609</td><td>March 13, 2033</td><td>100</td><td>1</td></tr>
            <tr><td>#16907</td><td>March 18, 2033</td><td>100</td><td>1</td></tr>
          </tbody>
        </table>
       
      </div>
    </div>


